/* graph section styles */

.section-div {
    margin: 20px;
    background-color: var(--greysLight02);
  }

  .graph-div {
    display: flex;
  }
  
  /* graph increase and decrease button styles */
  
  .inc-dec-btn {
    border: 1px solid var(--greysMed01);
    border-radius: 5px;
    width: 30px;
    height: 30px;
    margin: 4px;
  }
  
  .icon-color {
    color: var(--greysMed01);
  }

  .graph-buttons {
    display: flex;
    flex-direction: column;
    padding: 5px;
  }
  
  /* column styles */

  .bar {
    width: 30px;
    height: 100px;
    padding: 5px;
  }
  
  .col-bar {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .date-div  {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: var(--greysMed01);
  }
  
  /* time sheet component styles */

  .timesheet-section {
    display: flex;
    flex-direction: column;
  }

  .chevron-btns {
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }

  .date-span {
  }
    
