:root {
  --mediumGray: #686985;
  --darkOrange: #f27633;
  --borderColor: #e5e5e5;
  --backgroundLight: #fdfcff;
  --lightGray: #b7bad6;
  --baseLight20: #f1f0fa;
  --baseDark01: #34344b;
  /* --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
  --spacing-five: calc(2.5rem); */
}

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
  margin: 0;
}

/* main {
  margin: 0 auto;
  max-width: 90%;
  padding: 20px 30px;
} */

/* common styles for multiple pages */
.grayed-text {
  color: var(--lightGray);
}

.div-border {
  border-bottom: 1px solid var(--borderColor);
  width: 100%;
}
