:root {
  --mediumGray: #686985;
  --darkOrange: #f27633;
  --borderColor: #e5e5e5;
  --background: #fdfcff;
  /* --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
  --spacing-five: calc(2.5rem); */
}

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
  
}

main {
  margin: 0 auto;
  max-width: 90%;
  padding: 20px 30px;
}
